* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #757575;
    background-color: #fafafa;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
}

button:hover {
    background-color: rgba(158, 158, 158, .2);
}

button:active {
    background-color: rgba(158, 158, 158, .4);
}

button.icon {
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button.icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
    outline: none;
}

button[disabled] {
    color: rgba(0, 0, 0, .26);
    cursor: default;
    background-color: transparent;
}

input {
    font-size: 16px;
    color: #757575;
    background-color: #fafafa;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: .25em;
    border: 1px solid lightgray;
    border-radius: 2px;
    outline: none;
}

.alert {
    padding: 15px;
    border: 1px solid #E9C6C6;
    border-radius: 4px;
    color: #F33F3F;
    background-color: #E9C6C6;
}


/* Todo title */

.todo_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0060B9;
    margin-top: 20px;
    border-radius: 2px;
    height: 75px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    color: white;
}

.todo_title h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
}


/* Todo form */

.todo_form {
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.todo_form input {
    flex: 1;
}

.todo_form input:focus {
    border: 1px solid #0060B9;
}

.todo_form .invalid {
    border: 1px solid #C00631;
}

.todo_form button {
    margin-left: 16px;
    background-color: rgba(158, 158, 158, .1);
    outline: none;
}

.todo_form button:hover {
    background-color: rgba(158, 158, 158, .2);
}

.todo_form,
li {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    background-color: white;
}


/* Search form */

div#search_form {
    display: block;
}

div#search_form input {
    width: 77%;
}

div#search_form .check_block {
    margin-top: 10px;
    display: inline-flex;
}

div#search_form .clear_block {
    position: absolute;
    right: 150px;
    bottom: 75px;
}

div#search_form .clear_block[disabled="disabled"] {
    display: none;
}

div#search_form .check_block button {
    margin-left: 0;
    background: 0 0;
}

div#search_form .check_block button:hover {
    background-color: rgba(158, 158, 158, .2);
}

div#search_form .check_block p {
    margin: 0;
    padding: 4px;
}


/* Todo list */

.todo_list {
    display: flex;
    flex-direction: column;
}

li {
    padding: 1em;
    display: flex;
    align-items: center;
}

li:not(:last-child) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .0), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

li .checkbox {
    margin-right: .25em;
}

li.completed .title {
    text-decoration: line-through;
}

li.completed .title,
li.completed .material-icons {
    color: lightgray;
}

li input {
    flex: 1;
    margin-right: 1rem;
}

li .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

li:hover .actions {
    opacity: 1;
}

li .checked {
    text-decoration: line-through
}